
@{
    ViewBag.Title = "OperasBas";
    Layout = null;
}

<h2>OperasBas</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form method="post" action="/">
                <label>Numero 1: </label>
                <input type="text" name="n1" value="" />
                <br />
                <label>Numero 2: </label>
                <input type="text" name="n2" value="" />
                <br />
                <label>
                    <input type="radio" name="operacion" value="suma">
                    Suma
                </label>

                <label>
                    <input type="radio" name="operacion" value="resta">
                    Resta
                </label>

                <label>
                    <input type="radio" name="operacion" value="multiplicacion">
                    Multiplicación
                </label>

                <label>
                    <input type="radio" name="operacion" value="division">
                    División
                </label>
                <br />

                <input type="submit" name="name" value="Calcular" />

            </form>
        </div>
        <div class="col-lg-6">
            <h1>La suma es: @ViewBag.Res</h1>
        </div>
    </div>

</div>

